html { 
  background: url(Background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.FORM-BOX
{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

.switch{
    font-size: 15px;
    padding-bottom: -1px;
}

input[type=text],input[type=email],input[type=password],input[type=date] {
  width: 30%;
  padding: 14px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
  border: none;
}

input[type=button], input[type=submit] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  border-radius: 10%;
}